.wrapper {
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	font-family: var(--font-family);
	font-size: 1.6rem;
	font-weight: 700;
	padding: 9px 20px;
	background-color: var(--white);
	border: 1px solid transparent;
	user-select: none;

	+ .wrapper {
		margin-left: 16px;
	}

	&.disabled {
		pointer-events: none;
		opacity: 0.7;
	}
}

.icon {
	display: inline-flex;
	justify-content: center;
	width: 24px;
}

.icon + .title,
.title + .icon {
	margin-left: 8px;
}

.rounded {
	border-color: rgba(22, 24, 35, 0.12);
	border-radius: 9999px;
	box-shadow: 0 2px 8px rgb(0 0 0 / 6%);

	&:hover {
		border-color: rgba(22, 24, 35, 0.2);
		background-color: rgba(22, 24, 35, 0.03);
	}
}

// Start: Button types
.default {
	border: 1px solid rgba(22, 24, 35, 0.12);
	border-radius: 2px;

	&:hover {
		background-color: rgba(22, 24, 35, 0.03);
	}
}

.primary {
	border-color: var(--primary);
	background-color: var(--primary);
	color: var(--white);

	&:hover {
		border-color: var(--primary);
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
	}
}

.outline {
	color: var(--primary);
	border-color: currentColor;

	&:hover {
		border-color: currentColor;
		background-color: rgba(254, 44, 85, 0.06);
	}
}

.text {
	&:hover {
		text-decoration: underline;
	}
}

// End: Button types

// Start: Button sizes
.small {
	min-width: 88px;
	padding: 4px 16px;
}

.medium {
	min-width: 100px;
	padding: 8px;
}

.large {
	min-width: 136px;
	padding: 14px 16px;
}
// End: Button sizes
