@import 'normalize.css';

// Fonts
@font-face {
	font-family: 'ProximaNova';
	src: url('/assets/fonts/Proxima-Nova-Regular.woff2') format('woff2');
	font-weight: 500;
}

@font-face {
	font-family: 'ProximaNova';
	src: url('/assets/fonts/Proxima-Nova-Semibold.woff2') format('woff2');
	font-weight: 600;
}

@font-face {
	font-family: 'ProximaNova';
	src: url('/assets/fonts/Proxima-Nova-Bold.woff2') format('woff2');
	font-weight: 700;
}

@font-face {
	font-family: 'SofiaPro';
	src: url('/assets/fonts/sofiapro-bold.woff2') format('woff2');
	font-weight: 700;
}

:root {
	--primary: rgba(254, 44, 85, 1);
	--white: #ffffff;
	--black: #000000;
	--text-color: #333;
	// default layout
	--default-layout-header-height: 60px;
	--default-layout-width: 1150px;
	--default-layout-horizontal-spacing: 24px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'ProximaNova', sans-serif;
	font-size: 1.6rem;
	line-height: 1.5;
	text-rendering: optimizeSpeed;
}

button,
input,
[tabindex] {
	outline: none;
	border: none;
}

a[href] {
	color: var(--text-color);
	text-decoration: none;
}

// Custom tippy tooltip
.tippy-box {
	background-color: rgba(84, 84, 84, 0.92);
}

.tippy-arrow {
	color: rgba(84, 84, 84, 0.92);
}
